<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grid</title>

    <link rel="stylesheet" href="../../dist/styles/master.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>My files</h1>
        </div>
        <div class="sub-header">
            <button class="btn active large">+ADD NEW GROUP</button>
        </div>
        <div class="actions">
            <div class="row">
                <div class="col-3">
                    <div class="textBox">
                        <div class="title">
                            <span>Employee</span>
                        </div>
                        <input type="text">
                        <i class="material-icons">search</i>
                    </div>
                </div>
                <div class="col-3">
                    <div class="textBox">
                        <div class="title">
                            <span>Owner</span>
                        </div>
                        <input type="text" placeholder="click to sort">
                        <i class="material-icons">import_export</i>
                    </div>
                </div>
                <div class="col-3">
                    <div class="textBox">
                        <div class="title">
                            <span>Department</span>
                        </div>
                        <input type="text" placeholder="click to sort">
                        <i class="material-icons">import_export</i>
                    </div>
                </div>
                <div class="col-2">
                    <div class="textBox">
                        <div class="title">
                            <span>Date</span>
                        </div>
                        <ul class="select">
                            <li class="selected" data-value="week">Last Week</li>
                            <li data-value="month">Last Month</li>
                            <li data-value="year">Last Year</li>
                        </ul>
                        <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                </div>
                <div class="col-1">
                    <a href="#"><i class="material-icons">more_vert</i></a>
                </div>
            </div>
        </div>
        <div class="bottom-line"></div>
        <div class="body">
            <div class="row">
                <div class="col-3">
                    <i class="material-icons">photo</i><span>Full Name</span>
                </div>
                <div class="col-3">
                    <span>Sandra Adams</span>
                </div>
                <div class="col-3">
                    <span>Sandra Adams</span>
                </div>
                <div class="col-2">
                    <span>Jan 9, 2014</span>
                </div>
                <div class="col-1">
                    <div class="checkbox small">
                        <input type="checkbox" value="1" id="check1">
                        <label for="check1"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <i class="material-icons">photo</i><span>Full Name</span>
                </div>
                <div class="col-3">
                    <span>Sandra Adams</span>
                </div>
                <div class="col-3">
                    <span>Sandra Adams</span>
                </div>
                <div class="col-2">
                    <span>Jan 9, 2014</span>
                </div>
                <div class="col-1">
                    <div class="checkbox small">
                        <input type="checkbox" value="1" id="check2">
                        <label for="check2"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <i class="material-icons">photo</i><span>Full Name</span>
                </div>
                <div class="col-3">
                    <span>Sandra Adams</span>
                </div>
                <div class="col-3">
                    <span>Sandra Adams</span>
                </div>
                <div class="col-2">
                    <span>Jan 9, 2014</span>
                </div>
                <div class="col-1">
                    <div class="checkbox small">
                        <input type="checkbox" value="1" id="check3">
                        <label for="check3"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <i class="material-icons">photo</i><span>Full Name</span>
                </div>
                <div class="col-3">
                    <span>Sandra Adams</span>
                </div>
                <div class="col-3">
                    <span>Sandra Adams</span>
                </div>
                <div class="col-2">
                    <span>Jan 9, 2014</span>
                </div>
                <div class="col-1">
                    <div class="checkbox small">
                        <input type="checkbox" value="1" id="check4">
                        <label for="check4"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pager">
                <button class="btn normal small">&lt;&lt;</button>
                <button class="btn active small">&lt;</button>
                <input type="number" value="1" />
                <span>of 56</span>
                <button class="btn active small">&gt;</button>
                <button class="btn normal small">&gt;&gt;</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../../dist/scripts/master.js"></script>

</body>

</html>