<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buttons</title>

    <link rel="stylesheet" href="../dist/styles/master.css">
</head>

<body style="padding: 20px; background-color: #fff;">
    <h1>Normal buttons:</h1>
    <button class="btn normal small">PREVIOUS</button>
    <button class="btn normal medium">SAVE AS DRAFT</button>
    <button class="btn normal large">UPDATE IN INSYNCTIVE</button>

    <br>
    <br>
    <h1>Active buttons:</h1>
    <button class="btn active small">PREVIOUS</button>
    <button class="btn active medium">SAVE AS DRAFT</button>
    <button class="btn active large">UPDATE IN INSYNCTIVE</button>

    <br>
    <br>
    <h1>Delete buttons:</h1>
    <button class="btn delete small">PREVIOUS</button>
    <button class="btn delete medium">SAVE AS DRAFT</button>
    <button class="btn delete large">UPDATE IN INSYNCTIVE</button>

    <br>
    <br>
    <h1>Disabled buttons:</h1>
    <button class="btn small" disabled>PREVIOUS</button>
    <button class="btn medium" disabled>SAVE AS DRAFT</button>
    <button class="btn large" disabled>UPDATE IN INSYNCTIVE</button>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../dist/scripts/master.js"></script>

</body>

</html>