<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../dist/styles/master.css">
</head>

<body>
    <br>
    <div class="card">
        <div class="header">
            <h1>My files</h1>
        </div>
        <div class="sub-header">
            <button class="btn active large">+ADD NEW GROUP</button>
        </div>
        <div class="body">
            <table>
                <tr>
                    <th>
                        <div class="action">
                            <div class="title">
                                <span>Employee</span>
                            </div>
                            <div class="inputFields">
                                <i class="material-icons">search</i>
                                <input type="text">
                            </div>
                            <div class="error">
                                <span>Error text shows here</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="action">
                            <div class="title">
                                <span>Owner</span>
                            </div>
                            <div class="inputFields">
                                <input type="text" placeholder="click to sort" />
                                <i class="material-icons">import_export</i>
                            </div>
                            <div class="error">
                                <span>Error text shows here</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="action">
                            <div class="title">
                                <span>Department</span>
                            </div>
                            <div class="inputFields">
                                <input type="text" placeholder="click to sort" />
                                <i class="material-icons">import_export</i>
                            </div>
                            <div class="error">
                                <span>Error text shows here</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="action">
                            <div class="title">
                                <span>Date</span>
                            </div>
                            <div class="inputFields">
                                <select name="period">
                            <option value="week">Last Week</option>
                            <option value="month">Last Month</option>
                            <option value="year">Last Year</option>
                        </select>
                            </div>
                            <div class="error">
                                <span>Error text shows here</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="action">
                            <div class="title"></div>
                            <div class="inputFields">
                                <a href="#"><i class="material-icons">more_vert</i></a>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td><i class="material-icons">photo</i>Full Name</td>
                    <td>Sandra Adams</td>
                    <td>Sandra Adams</td>
                    <td>Jan 9, 2014</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td><i class="material-icons">photo</i>Full Name</td>
                    <td>Sandra Adams</td>
                    <td>Sandra Adams</td>
                    <td>Jan 9, 2014</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td><i class="material-icons">photo</i>Full Name</td>
                    <td>Sandra Adams</td>
                    <td>Sandra Adams</td>
                    <td>Jan 9, 2014</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td><i class="material-icons">photo</i>Full Name</td>
                    <td>Sandra Adams</td>
                    <td>Sandra Adams</td>
                    <td>Jan 9, 2014</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td><i class="material-icons">photo</i>Full Name</td>
                    <td>Sandra Adams</td>
                    <td>Sandra Adams</td>
                    <td>Jan 9, 2014</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td><i class="material-icons">photo</i>Full Name</td>
                    <td>Sandra Adams</td>
                    <td>Sandra Adams</td>
                    <td>Jan 9, 2014</td>
                    <td><input type="checkbox" /></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>