<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link rel="stylesheet" href="../../dist/styles/master.css">
</head>

<body class="login">
    <div class="container">
        <div class="header">
            <img src="../../img/mvc-logo.png" alt="mvc">
        </div>
        <div class="sub-header">
            <p>Welcome to the</p>
            <h2>Employee Service Management Portal</h2>
        </div>
        <div class="textBox">
            <input type="text" placeholder="Email Address">
        </div>
        <div class="textBox">
            <input type="password" placeholder="Password">
        </div>
        <div class="centered">
            <button class="btn active large">Sign in</button>
            <button class="btn active large">Sign in with ADP</button>
        </div>
        <div class="inline">
            <div class="checkbox small">
                <input id="remember" type="checkbox" name="remember" value="remember">
                <label for="remember">Remember me</label>
            </div>
            <a href="#">Forgot your password?</a>
            <br>
            <a href="#">Support</a>
        </div>
        <br>
        <div class="centered">
            <p>Service provided by</p>
            <img src="../../img/benefitmall-logo.png" alt="benefitmall-logo">
            <p>Site Powered by <a href="http://www.insynctive.com/">Insynctive</a></p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../../dist/scripts/master.js"></script>

</body>

</html>