<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Set Your Password</title>

    <link rel="stylesheet" href="../../dist/styles/master.css">
</head>

<body class="login">
    <div class="container">
        <div class="header">
            <img src="../../img/mvc-logo.png" alt="mvc">
            <h2>Set your password</h2>
        </div>
        <div class="textBox">
            <input type="password" placeholder="New password">
        </div>
        <div class="textBox">
            <input type="password" placeholder="Confirm password">
        </div>
        <div class="centered">
            <button class="btn active large">Submit password</button>
            <br>
            <a href="#">Cancel</a>
        </div>
        <br>
        <div class="centered">
            <p>Service provided by</p>
            <img src="../../img/benefitmall-logo.png" alt="benefitmall-logo">
            <p>Site Powered by <a href="http://www.insynctive.com/">Insynctive</a></p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../../dist/scripts/master.js"></script>

</body>

</html>